[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-themepack-numix-circle
Exec=invoker --type=generic -s /usr/bin/harbour-themepack-numix-circle
Name=Numix Circle
